<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset("css/style.css") }}"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div id="logo">
            <h1>
                <a href="/">Hangman</a>
            </h1>
        </div>
        <div id="menu">
            <ul>
                <li class="first current_page_item">
                    <a href="{{ path("game_play") }}">{{ "game.game"|trans }}</a>
                </li>
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <li>
                        <a href="{{ path("logout") }}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path("register") }}">{{ "game.register"|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path("login") }}">{{ "game.login"|trans }}</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path("contact") }}">{{ "game.contact"|trans }}</a>
                </li>
            </ul>
            <br class="clearfix"/>
        </div>
    </div>

    <div id="page">
        {{ include("flashes.html.twig") }}
        <div id="content">

            {% block body %}{% endblock %}

        </div>
        <div id="sidebar">
            {{ include("AppBundle:Game:last_games.html.twig") }}
            {{ render_esi(controller("AppBundle:User:users")) }}
        </div>
        <br class="clearfix"/>
    </div>
</div>

</body>
</html>
