{% if app.session.flashBag.has('notice') %}
    <div class="flashes-notice">
        <ul>
            {% for notice in app.session.flashBag.get('notice') %}
                <li>{{ notice }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
