<h3>Last Games</h3>
<div class="date-list">
    <ul class="list date-list">

        <li class="first"><span class="date">Jan 13</span> <a href="#">Ultrices quisque molestie</a></li>
        <li><span class="date">Jan 7</span> <a href="#">Neque dolor eget</a></li>
        <li><span class="date">Jan 1</span> <a href="#">Sollicitudin interdum</a></li>
        <li class="last"><span class="date">Dec 26</span> <a href="#">Varius dignissim</a></li>

    </ul>
</div>
