{% extends 'base.html.twig' %}

{% block body %}

    <h2>Guess the mysterious word</h2>

    <p class="attempts">
        {{ "game.remaining_attempts"|trans({"%att%" : game.remainingAttempts }) }}
    </p>

    <ul class="word_letters">
        {% for letter in game.word|split('') %}

        <li class="letter {{ game.isLetterFound(letter) ? 'guessed' : 'hidden' }}">
            {{ game.letterFound(letter) ? letter|capitalize : '?' }}
        </li>

        {% endfor %}
    </ul>

    <br class="clearfix" />

    <p class="attempts">
        <a href="{{ path("game_reset") }}">Reset the game</a>
    </p>

    <br class="clearfix" />

    <h2>Try a letter</h2>

    <ul>
        {% for letter in 'a'..'z' if letter not in game.triedLetters %}
            <li class="letter">
                <a href="{{ path("game_play_letter", {'letter': letter}) }}">
                    {{ letter|capitalize }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <h2>Try a word</h2>

    <form action="{{ path("game_word") }}" method="post">
        <p>
            <label for="word">Word:</label>
            <input type="text" id="word" name="word"/>
            <button type="submit">Let me guess...</button>
        </p>
    </form>
{% endblock %}
