{% extends 'base.html.twig' %}

{% block body %}

    <h2>Login to your account</h2>

    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('auth') }}" method="post">
        <label for="username">Username: </label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Password: </label>
        <input type="password" id="password" name="_password">

        <button type="submit">Login</button>
    </form>

{% endblock %}

