{% extends 'base.html.twig' %}
{% import "AppBundle:Default:macros.html.twig" as utils %}

{#{% block stylesheets %}#}
    {#<link rel="stylesheet" href="{{ asset("bundles/app/app.css") }}" type="text/css" />#}
{#{% endblock %}#}

{% block title %}Hi! {{ parent() }}{% endblock %}

{% block body %}
Hello {{ name|raw }}!
    {{ utils.input('username') }}
{% endblock %}
