<html>
<body>

{#{% for i in range(0, 10, 1) %}#}
    {#{{ cycle(['odd', 'even'], i) }} <br/>#}
{#{% endfor %}#}

{#{{ users|sort|join(', ') }}#}
{{ include('menu.html.twig') }}
{% for user in users %}
    *{{ loop.index ~ ' ' ~ user.blah|default('Anonymous') }}
{% else %}
    No users have been found.
{% endfor %}
{{ include('menu.html.twig') }}
</body>
</html>
