{% macro input(name, value, type='text', size=20) %} <input type="{{ type }}"
                                                            name="{{ name }}"
                                                            value="{{ value|e }}"
                                                            size="{{ size }}" />
{% endmacro %}
